---
layout: page
title: Ombre
---

<h1 class="fadeInLeft">{{ page.title }}</h1>

<div id="preview-container">
  {% include photo.html title="Ombre 1, 2012, matita su carta 50x55cm" jpgPath="/opere/ombre/Ombre-1-2012-matita-su-carta-50x55" %}
  {% include photo.html title="Ombre 10, 2014, matita su carta 50x55cm" jpgPath="/opere/ombre/Ombre-10-2014-matita-su-carta-50x55-Nicola-Eccher" %}
  {% include photo.html title="Ombre 13, 2015, matita su carta 50x55cm" jpgPath="/opere/ombre/Ombre-13-2015-matita-su-carta-50x55-Nicola-Eccher" %}
  {% include photo.html title="Ombre 14, 2015, matita su carta 50x55cm" jpgPath="/opere/ombre/Ombre-14-2015-matita-su-carta-50x55-Nicola-Eccher" %}
  {% include photo.html title="Ombre 3, 2012, matita su carta 50x60cm" jpgPath="/opere/ombre/Ombre-3-2012-matita-su-carta-50x60" %}
  {% include photo.html title="Ombre 4, 2012, matita su carta 50x60cm" jpgPath="/opere/ombre/Ombre-4-2012-matita-su-carta-50x60" %}
  {% include photo.html title="Ombre 5, 2012, matita su carta 45x45cm" jpgPath="/opere/ombre/Ombre-5-2012-matita-su-carta-45x45" %}
  {% include photo.html title="Ombre 7, 2013, matita su carta 50x55cm" jpgPath="/opere/ombre/Ombre-7-2013-matita-su-carta-50x55" %}
  {% include photo.html title="Ombre 8, 2014, matita su carta 45x50cm" jpgPath="/opere/ombre/Ombre-8-2014-matita-su-carta-45x50" %}
  {% include photo.html title="Ombre 9, 2014, matita su carta 45x45cm" jpgPath="/opere/ombre/Ombre-9-2014-matita-su-carta-45x45" %}
</div>
