---
layout: page
---

<h1>Ombre, nature morte</h1>

<div id="preview-container">
  {% include photo.html jpgPath="/opere/ombre-nature-morte/Ombre-I-2015-matita-su-carta-50x55" %}
  {% include photo.html jpgPath="/opere/ombre-nature-morte/Ombre-II-2015-matita-su-carta-55x50" %}
  {% include photo.html jpgPath="/opere/ombre-nature-morte/Ombre-III-2015-matita-su-carta-55x50" %}
  {% include photo.html jpgPath="/opere/ombre-nature-morte/Ombre-IV-2015-matita-su-carta-50x55" %}
  {% include photo.html jpgPath="/opere/ombre-nature-morte/Ombre-V-2015-matita-su-carta-55x50" %}
</div>
