---
layout: gallery
title: Luce
---

{% include photo.html title="Ombre trittico (luce-foglia) 2018 matita-su-carta 30x30cm" jpgPath="/opere/luce-foglia/Ombre-trittico-luce-foglia-2019-matita-su-carta-30x30cm" %}
{% include photo.html title="Ombre 9, 2014, matita su carta 45x45cm" jpgPath="/opere/luce-foglia/Ombre-trittico-luce-foglia-2019-matita-su-carta-70x70" %}
{% include photo.html title="Ombre 9, 2014, matita su carta 45x45cm" jpgPath="/opere/luce-foglia/Ombre-luce-foglia-1-2019-matita-su-carta-70x70cm" %}
{% include photo.html title="Ombre 9, 2014, matita su carta 45x45cm" jpgPath="/opere/luce-foglia/Ombre-luce-foglia-2-2019-matita-su-carta-70x70cm" %}
{% include photo.html title="Ombre 9, 2014, matita su carta 45x45cm" jpgPath="/opere/luce-foglia/Ombre-luce-foglia-3-2019-matita-su-carta-70x70cm" %}
