<ul class="topnav" id="myTopnav">
  {% if page.title == "Home page" %}
    <li><a class="current-page" href="javascript:void(0)"><em>Luca Pianella</em></a></li>
  {% else %}
    <li><a href="/"><em>Luca Pianella</em></a></li>
  {% endif %}

  <li>
    <a href="javascript:void(0)">Opere</a>
    <ul>
      {% if page.title == "Ombre" %}
        <li><a class="current-page" href="javascript:void(0)">Ombre</a></li>
      {% else %}
        <li><a href="/opere/ombre">Ombre</a></li>
      {% endif %}

      {% if page.title == "Ombre, volti" %}
        <li><a class="current-page" href="javascript:void(0)">Ombre, volti</a></li>
      {% else %}
        <li><a href="/opere/ombre-volti">Ombre, volti</a></li>
      {% endif %}
    </ul>
  </li>

  {% if page.title == "Testi Critici" %}
    <li><a class="current-page" href="javascript:void(0)">Testi Critici</a></li>
  {% else %}
    <li><a href="/testi-critici">Testi Critici</a></li>
  {% endif %}

  {% if page.title == "Biografia/Contatti" %}
    <li><a class="current-page" href="javascript:void(0)">Biografia/Contatti</a></li>
  {% else %}
    <li><a href="/biografia-contatti">Biografia/Contatti</a></li>
  {% endif %}

  <li class="icon">
    <a href="javascript:void(0)" onclick="expandNav()">&#9776</a>
  </li>
</ul>

<script>
  function expandNav() {
    var x = document.getElementById('myTopnav')

    if (x.className === 'topnav') {
        x.className += ' responsive'
    } else {
        x.className = 'topnav'
    }
  }
</script>
