<ul class="topnav" id="myTopnav">
  {% if page.title == "Home page" %}
    <li><a class="disabled-menu-entry" href="javascript:void(0)"><em>Luca Pianella</em></a></li>
  {% else %}
    <li><a href="/"><em>Luca Pianella</em></a></li>
  {% endif %}

  <li>
    <a href="javascript:void(0)">Opere</a>
    <ul>
      <li><a href="/opere/ombre">Ombre</a></li>

      <li><a href="/opere/ombre-volti">Ombre (volti)</a></li>
    </ul>
  </li>

  {% if page.title == "Testi Critici" %}
    {% include disabled-menu-entry.html title=page.title %}
  {% else %}
    <li><a href="/testi-critici">Testi Critici</a></li>
  {% endif %}

  {% if page.title == "Biografia/Contatti" %}
    {% include disabled-menu-entry.html title=page.title %}
  {% else %}
    <li><a href="/biografia-contatti">Biografia/Contatti</a></li>
  {% endif %}

  <li class="icon">
    <a href="javascript:void(0)" onclick="toggleNav()">&#9776</a>
  </li>
</ul>

<script>
  function toggleNav() {
    var x = document.getElementById('myTopnav')

    if (x.className === 'topnav') {
        x.className += ' responsive'
    } else {
        x.className = 'topnav'
    }
  }

  function closeNav() {
    var x = document.getElementById('myTopnav')

    if (x.className === 'topnav responsive') {
        x.className = 'topnav'
    }
  }
</script>

