@keyframes translateScroll {
  0% {
    opacity: 0;
    transform: none;
  }

  25% {
    transform: translate3d(4%, 0, 0);
    opacity: 1;
  }

  100% {
    transform: none;
  }
}

#preview-container {
  position: absolute;
  top: 50vh;
  display: flex;
  flex-wrap: nowrap;

  /* horizontal scroll */
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.preview-item {
  margin: 2px;
  flex: 1 1 auto;

  /* animate scroll so user can see there are more photos */
  animation-name: translateScroll;
  animation-duration: 12s;
}

.preview-item img {
  width: 17rem;
}

@media only screen and (max-width: 768px) {
  .preview-item img {
    width: 8rem;
  }
}

