
@keyframes translateScroll {
  0% {
    opacity: 0;
    transform: none;
  }

  25% {
    opacity: 1;
  }

  100% {
    transform: translate3d(4%, 0, 0);
  }
}

#preview-container {
  margin-top: 20vh;
  overflow: auto;
  white-space: nowrap;

  a {
    /* animate scroll so user can see there are more photos */
    animation-name: translateScroll;
    animation-duration: 12s;

    display: inline-block;

    img {
      width: 17rem;
    }
  }
}

@media only screen and (max-width: $mobile-break-point) {
  #preview-container {
    a {
      img {
        width: 8rem;
      }
    }
  }
}

