ul {
  list-style-type: circle;
}

ul a:link {
  color: #333;
  text-decoration: none;
}

ul a:visited {
  color: #333;
  text-decoration: none;
}

ul a:hover {
  color: #333;
  text-decoration: underline;
}
