#preview-container {
  /* display with flex */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  /* horizontal scroll */
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.preview-item {
  margin: 2px;
  flex: 1 1 auto;
}

.preview-item img {
  width: 17rem;
}

@media only screen and (max-width: 768px) {
  .preview-item img {
    width: 8rem;
  }
}

