---
layout: page
title: Ombre, volti
---

<h1 class="fadeInLeft">{{ page.title }}</h1>

<div id="preview-container">
  {% include photo.html title="Ombre I, 2016, matita-su-carta 70x70cm" jpgPath="/opere/ombre-volti/Ombre-I-2016-matita-su-carta-70x70" %}
  {% include photo.html title="Ombre II, 2016, matita-su-carta 70x70cm" jpgPath="/opere/ombre-volti/Ombre-II-2016-matita-su-carta-70x70" %}
  {% include photo.html title="Ombre IV, 2016, matita-su-carta 70x70cm" jpgPath="/opere/ombre-volti/Ombre-IV-2016-matita-su-carta-70x70" %}
  {% include photo.html title="Ombre V, 2016, matita-su-carta 70x70cm" jpgPath="/opere/ombre-volti/Ombre-V-2016-matita-su-carta-70x70" %}
  {% include photo.html title="Ombre VII, 2016, matita-su-carta 70x70cm" jpgPath="/opere/ombre-volti/Ombre-VII-2016-matita-su-carta-70x70" %}
  {% include photo.html title="Ombre XII, 2016, matita-su-carta 70x70cm" jpgPath="/opere/ombre-volti/Ombre-XII-2016-matita-su-carta-70x70" %}
</div>
