---
layout: page
---

<h1>Ombre, volti</h1>

<div id="preview-container">
  {% include photo.html jpgPath="/opere/ombre-volti/Ombre-I-2016-matita-su-carta-70x70" %}
  {% include photo.html jpgPath="/opere/ombre-volti/Ombre-II-2016-matita-su-carta-70x70" %}
  {% include photo.html jpgPath="/opere/ombre-volti/Ombre-IV-2016-matita-su-carta-70x70" %}
  {% include photo.html jpgPath="/opere/ombre-volti/Ombre-V-2016-matita-su-carta-70x70" %}
  {% include photo.html jpgPath="/opere/ombre-volti/Ombre-VII-2016-matita-su-carta-70x70" %}
  {% include photo.html jpgPath="/opere/ombre-volti/Ombre-XII-2016-matita-su-carta-70x70" %}
</div>
